
// COLORS
$background: rgb(221, 221, 221);
$background-header: #fade67;
$brand-yellow: #fade67;
$background-footer: #333333;
$color-header: black;
$color-footer: #ffffff;
$color-copy: #222222;
$color-breadcrumb: #999999;
$color: rgb(0,0,0);
$font-size: 16px;

// FONTS
$lato: "Lato", sans-serif;
$openSans: "Open Sans", sans-serif;
$merriweather: "Merriweather", serif;

// Starting breakpoints - use more as needed in component and page files
$mobile: 320px;
$mobileLandscape: 480px;
$tablet: 768px;
$desktop: 1024px;
$large: 1200px;